.header{
    
    margin: 0 2.5rem;
    padding: .5rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.headerLeft,.headerRight{
    display: flex;
    align-items: center;
}

.header__icon{
  
    cursor: pointer;
}
a> span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor:pointer;
    color: white;
}
span:hover{
    color: gold;
 
}
.navbar {
    display: flex;
   
    margin-left: 180px;
    margin-right: 190px;
    justify-content: space-evenly;
    align-items: left center;
    background-color:transparent;
    background-size: auto;
    color: white;
    padding: 50px;
  }
  
  
  
  .nav-links, .user-links {
    display: flex;
  }
  
  .nav-links a, .user-links a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
  }
  
  .user-links a {
    display: flex;
    align-items: center;
  }
 a:hover{
  color: gold;
 }
 .custom-dropdown {
  background-color: #f5f5f5;
  color: #333;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

/* Style the options */
.custom-dropdown option {
  background-color:whitesmoke;
  color: #333;
  padding: 8px;
  border:rosybrown;
  border-bottom: 1px solid #ddd;
}

/* Style on hover/focus */
.custom-dropdown:hover,
.custom-dropdown:focus {
  background-color: #dddddd;
}